/* Fondo de la página */
body {
    background-color: black;
    background-image: url(''); /* Fondo negro sin imágenes */
    background-size: cover;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
}

/* Contenedor principal */
.container {
    text-align: center;
    background: rgba(0, 0, 0, 0.7); /* Fondo semitransparente */
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

/* Estilos para el logo */
.logo {
    width: 150px;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

/* Estilo de título */
h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #ff5733;
}

/* Estilo del texto */
p {
    font-size: 1.2em;
    margin-bottom: 30px;
}

/* Estilo de los botones */
.buttons a {
    display: inline-block;
    margin: 15px;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    background-color: #ff5733;
    position: relative;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}

.buttons a:hover {
    background-color: #ff6f47;
    transform: scale(1.1);
}

.discord-button {
    background-color: #7289da;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.discord-button:hover {
    background-color: #5a6e8f;
}

/* Efecto de partículas en los botones */
.play-button {
    animation: aura 2s infinite;
}

@keyframes aura {
    0% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.6);
    }
    50% {
        box-shadow: 0 0 20px rgba(255, 255, 255, 1), 0 0 30px rgba(255, 255, 255, 1);
    }
    100% {
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.6), 0 0 20px rgba(255, 255, 255, 0.6);
    }
}

/* Estilos del popup */
.popup {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    text-align: center;
}

.popup-content {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px;
    border-radius: 10px;
    max-width: 600px;
    margin: 0 auto;
}

.popup .close-btn {
    color: white;
    font-size: 2em;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

footer {
    position: absolute;
    bottom: 20px;
    font-size: 1em;
    color: white;
}
