/* General */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom, #ff8000, #ff4500); /* Colores Dragon Ball */
    color: #fff;
    text-align: center;
    animation: backgroundMove 10s infinite alternate;
}

@keyframes backgroundMove {
    0% { background-position: 0 0; }
    100% { background-position: 0 100px; }
}

/* Container */
.container {
    margin-top: 50px;
    animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

/* Logo */
.server-logo {
    width: 150px;
    height: auto;
    margin-bottom: 10px;
    animation: bounce 2s infinite;
}

@keyframes bounce {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}

/* Titles */
.title {
    font-size: 3rem;
    margin: 10px 0;
    text-shadow: 2px 2px 4px #000;
}

.subtitle {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

/* Buttons */
button {
    font-size: 1.2rem;
    color: #fff;
    background-color: #ff5733;
    border: none;
    padding: 15px 30px;
    margin: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

button:hover {
    background-color: #c70039;
    transform: scale(1.05);
}

footer {
    margin-top: 20px;
    font-size: 1rem;
}
